# To set up:
#
# mkdir -p ~/.config/systemd/user
# cp minimost.service ~/.config/systemd/user/minimost.service
#
# systemctl --user daemon-reexec
# systemctl --user enable minimost 
# systemctl --user start minimost 
#
# Have an admin run:
# loginctl enable-linger YOUR_USERNAME


[Unit]
Description=Minimost Chat App
After=network.target

[Service]
WorkingDirectory=/home/sam/minimost
ExecStart=/home/sam/venv/bin/gunicorn \
          -c /home/sam/minimost/gunicorn.conf.py \
          app:app
Restart=always
RestartSec=5
Environment="SMTP_HOST=smtp.gmail.com"
Environment="SMTP_PORT=587"
Environment="SMTP_FROM=minimost@gmail.com"

[Install]
WantedBy=default.target

[Journal]
SystemMaxUse=20M
